@media (max-width: 750px), (max-height: 450px) {

	.inner {
		transform: rotate(-90deg);
		top:50%;
		left:50%;
	}
	.child1:hover:after {
		background-image: url('/images/jacoto_logo_rotate_skew.png') !important;
	}
	.child2:hover:after {
		background-image: url('/images/jarvify_logox1__rotate_skew.png') !important;
	}
	.child3:hover:after {
		background-image: url('/images/suddentrips_logo_rotate_skew.png') !important;
	}
	.child4:hover:after {
		background-image: url('/images/mediaoceanlogo_rotate_skew.png') !important;
	}
	.child6:hover:after {
		background-image: url('/images/Ethereum_logo_rotate_skew.png') !important;
	}
	.child8:hover:after {
		background-image: url('/images/Medium-logo_rotate_skewx.png') !important;
	}
	.flex-parent {
		transform: rotate(90deg);
	}
	.about-img {
		transform: scale(.8);
	}
	.fab {
		transform: scale(.8);
	}
	.demos-main {
		transform: scale(.8);
		margin-top:0% !important;
	}
	.iframe-mirror {
		margin-top:0 !important;
		margin-bottom: 10%;
	}
	.main-icon-link {
		padding-top: 10em;
		transform: translate(-30%, -80%) !important;
	}
	.info-page-item {
		width:300px !important;
		margin-bottom:10px !important;
	}
}

/* iphone x & Pixel*/
@media only screen
	and (max-device-width : 405px)
	and (max-device-height : 812px)
	and (-webkit-min-device-pixel-ratio: 3)
	and (orientation : portrait) {

		body .footer {
			padding-bottom: 20%;
			z-index: 1;
		}

		body .info-page-item {
			width:45% !important;
			margin:auto;
			padding-top: 1em;
			padding-right: 1em;
			padding-left: 1em;
			font-size:12px;
			text-align:center;
		}
		body .about {
			z-index: 1;
			padding-bottom:75% !important;
		}
		body .about-img {
			transform: scale(.5);
		}
		body .about-page {
			flex-direction: column;
			align-items: center;
			justify-content:center;
		}
		body .about-page-item {
			width:70%;
			padding:1em !important;
			font-size:12px;
			text-align:right;
		}
		body .about-page-item-pic {
			width:70%;
			padding:1em !important;
			font-size:12px;
			text-align:right;
		}
		body .about-page-item2 {
			width:90%;
			padding:1em !important;
			font-size:13px;
		}
		body .article-extend {
			height:100%;
			/* padding-top:5%; */
		}
		body .article-page {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content:center;
		}
		body .article-page-item {
			width: 80vw;
			font-family:Sarpanch 800;
			text-align:right;
			align-items:right;
			font-size:14px;
			letter-spacing:2px;
			/* height: 200px; */
		}
		body .medium-display {
			font-family:Sarpanch;
			text-align:right;
			font-size:10px;

			padding-top:1em;
		}

}
@media only screen
		and (max-device-width : 405px)
		and (max-device-height : 812px)
		and (-webkit-min-device-pixel-ratio: 3)
		and (orientation : landscape) {

		.flex-parent {
			padding-top:7% !important;
			transform:  rotate(0) scale(.8);
		}
		.main-title {
			top:1% !important;
		}


		body .info-page-item {
			width:25% !important;
			margin:auto;
			padding-top: 1em;
			padding-right: 1em;
			padding-left: 1em;
			font-size:12px;
			text-align:center;
		}
		body .footer {
			padding-bottom:8%;
			z-index: 1;
		}
		body .about {
			z-index: 1;
			padding-bottom:42% !important;
		}
		body .about-img {
			transform: scale(.5);
		}
		body .about-extend {
			padding-top:0 ;
		}
		body .about-page {
			flex-direction:column;
		}
		body .about-page-item-pic {
			width:15%;
			margin:auto;
			margin-top: 1em;
			font-size:12px;
			text-align:center;
		}
		body .about-page-item {
			width:80% !important;
			margin:auto;
			padding-top: 1em;
			font-size:12px;
			text-align:center;
		}
		body .about-page-item2 {
			margin:auto;
			width:70%;
			font-size:13px;
		}

		body .article-extend {
			height:100%;
			/* padding-top:5%; */
		}
		body .article-page {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content:center;
		}
		body .article-page-item {
			width: 80vw;
			font-family:Sarpanch;
			text-align:right;
			align-items:right;
			font-size:10px;
			letter-spacing:2px;
			/* height: 200px; */
		}
		body .medium-icon {
			width:10%;
			height:10%;
			padding-top:10%;
		}
		body .medium-display {
			font-family:Sarpanch;
			text-align:right;
			font-size:8px;

			padding-top:1em;
		}
}

/* iphone 6+, 6s+, 7+, 8+ */
@media only screen (min-width: 414px), (max-height: 736px) and (-webkit-device-pixel-ratio: 3) {

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.Container {
	/* width:70vw; */
	/* height:70vh; */
}
.Container-view {
	padding-top:20%;
	/* align-content:center; */
}

.inner {
	display:block;
	position:absolute;
	top:50%;
	left:45%;
}

.fab {
	color:gray;
}

.fab:hover {
	color:green;
	-moz-filter: invert(100%);
	-webkit-filter: invert(100%);
	filter:invert(100%);
}

br {
	position: relative;
}

.animate-color {
	transition: background-color 0.8s 0.1s ease-out;
}

.grayscale {
	-moz-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

a:visited {
	color:black;
}

.main-title {
		position: absolute;
		left: 27px;
		top: 7%;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		width: 250px;
}
.main-icon {
		/* position: absolute; */
		/* left: 15px;
		top: 70%;
		right: 0;

		margin-right: auto; */
		width: 250px;
		/* padding-right: 155px; */
		/* margin-right: 2em; */
		margin-left: 80%;
		/* right: 10%; */
		margin-top:2em;
		/* left:90%; */
		/* transform: translate(10%, -150%); */
}

.main-icon-link {
	position: absolute;
	margin-left: 80%;
	/* right: 10%; */
	margin-top:2em;
	transform: translate(10%, -170%);
	-moz-transform: translate(10%, -170%);
	-webkit-transform: translate(10%, -170%);
}

.main-icon-link:hover  {
	-moz-filter: invert(100%);
	-webkit-filter: invert(100%);
	filter:invert(100%);
}

.loader-jacoto-logo  {
	-moz-filter: invert(100%);
	-webkit-filter: invert(100%);
	filter:invert(100%);
}

.parent {
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 10em;
  padding-bottom: 10em;
}

.about {
	margin-right: 2em;
	top:0%;
	padding-bottom:5%;
	left:0%;
	transform: translate(90%, -80%);
	-moz-transform: translate(90%, -80%);
	-webkit-transform: translate(90%, -80%);

}

.about-img {
	 width:3em;
}

.about:hover  {
	-moz-filter: invert(100%);
	-webkit-filter: invert(100%);
	filter:invert(100%);

}

.about-extend {
	height:100%;
	-moz-padding-top:0;
	padding-top:0%;
}

.about-page {
	/* height:100%; */
	display: flex;
	/* height:300px; */
	/* width:500px; */
	flex-direction: row;
	/* flex-grow: 200; */
	flex-wrap: wrap;
	justify-content:center;
	/* margin-top:0%; */
}

.about-page-item-pic {
	width: 400px;

	/* height: 200px; */
}
.about-page-item {
	width: 400px;

	/* height: 200px; */
}
.about-page-item2 {
	width: 400px;

	/* height: 200px; */
}
.info-page-item {
	width: 40%;
	margin:40px;
	/* height: 200px; */
}

.article-extend {
	height:100%;
	padding-top:5%;
}


.article-page {
	/* height:100%; */
	display: flex;
	/* height:300px; */
	/* width:500px; */
	flex-direction: row;
	/* flex-grow: 200; */
	flex-wrap: wrap;
	justify-content:center;
	/* margin-top:0%; */
}
.article-page-item {
	width: 600px;
	font-family:Sarpanch;
	text-align:right;
	font-size:25px;
	letter-spacing:2px;
	/* height: 200px; */
}

.footer {
	/* position:absolute; */
	padding-top: 1em;
	top:40%;
	left:50%;
	transform: translate(0.5%, -150%);
	z-index: 1;
}

.child {
  padding: 1rem;
  background-color: blue;
}

.child1 {
  padding: 1rem;
	background-color:rgb(231,231,231);
	/* background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 55%,rgba(160,216,239,1) 100%); */
}
.child2 {
  padding: 1rem;
  background-color:rgb(210,210,210);
}
.child3 {
  padding: 1rem;
  background-color:rgb(193,193,193);
}
.child4 {
  padding: 1rem;
  background-color:rgb(170,170,170);
}
.child5 {
  padding: 1rem;
  background-color:rgb(150,150,150);
}
.child6 {
  padding: 1rem;
  background-color:rgb(136,136,136);
}
.child7 {
  padding: 1rem;
  background-color:rgb(114,114,114);
}
.child8 {
  padding: 1rem;
  background-color:rgb(95,95,95);
}

.flex-parent {
  display: flex;
  align-items: center;
  justify-content: center;
	/* height:70vh; */
}
.flex-child {
  flex: 1;
  width: 50vw;
  height:50vh;
}

.flex-child {

    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition:transform 1.05s ease-in-out;
    -ms-transition:transform 1.05s ease-in-out;

    /* transition: transform 1s ease-in-out; */
    /* transition: opacity 500ms cubic-bezier(0.86, 0.7, 1.07, 1) 1000ms; */
    /* transition: opacity 500ms cubic-bezier(0.38, 0.575, 0.565, 1) 5000ms; */
    /* margin: 0 auto; */

    /* transition: width 2s; */
    /* transition-timing-function: cubic-bezier(0.86, 0.7, 0.07, 1) 900ms; */
}

.flex-child:hover {
		/* transition-timing-function: ease-out;
    transition: opacity 500ms cubic-bezier(0.38, 0.575, 0.565, 0) 5000ms;
    transform: translate3d(10px, 0px, 10px) scaleX(2) scaleY(1.1); */
		transform: scaleX(1.4) scaleY(1.1);
		-webkit-transition: 0.4s ease-in-out;
		-moz-transition: 0.4s ease-in-out;
		-ms-transition: 0.4s ease-in-out;
    z-index:2;
		/* background-color:rgba(138, 235, 244, 0.5); */
		/* -webkit-transition: all .4s ease; */
}

.child1:hover:after {
	content:"\A";
  width:100%;
  height:100%;
	background:rgba(18, 194, 233, 1);
  position:absolute;
	background-image:url('/images/jacoto_logo_skewx.png');
	background-repeat:no-repeat;
	background-size:70%;
	background-position: center;
  top:0;
  left:0;
}
.child2:hover:after {
	content:"\A";
  width:100%;
  height:100%;
	background:rgba(62, 173, 234, 1);
  position:absolute;
	background-image:url('/images/jarvify_logox1_skew.png');
	background-repeat:no-repeat;
	background-size:70%;
	background-position: center;
  top:0;
  left:0;
}
.child3:hover:after {
	content:"\A";
  width:100%;
  height:100%;
	background:rgba(3, 130, 188, 1);
  position:absolute;
	background-image:url('/images/suddentrips_logo_skew.png');
	background-repeat:no-repeat;
	background-size:80%;
	background-position: center;
  top:0;
  left:0;
}
.child4:hover:after {
	content:"\A";
  width:100%;
  height:100%;
	background: rgba(72, 84, 160, 1);
  position:absolute;
	background-image:url('/images/mediaoceanlogo_skew.png');
	background-repeat:no-repeat;
	background-size:70%;
	background-position: center;
  top:0;
  left:0;
}
.child5:hover:after {
	content:"\A";
  width:100%;
  height:100%;
	background:rgba(160, 38, 105, 1);
  position:absolute;
	background-image:url('/images/brand_logo_skew.png');
	background-repeat:no-repeat;
	background-size:80%;
	background-position: center;
  top:0;
  left:0;
}
.child6:hover:after {
	content:"\A";
  width:100%;
  height:100%;
	background:rgba(193, 56, 86, 1);
  position:absolute;
	background-image:url('/images/Ethereum_logo_skew.png');
	background-repeat:no-repeat;
	background-size:70%;
	background-position: center;
  top:0;
  left:0;
}
.child7:hover:after {
	content:"\A";
  width:100%;
  height:100%;
	background:rgba(233, 87, 126, 1);
  position:absolute;
	background-image:url('/images/Data-Vizx.png');
	background-repeat:no-repeat;
	background-size:80%;
	background-position: center;
  top:0;
  left:0;
}
.child8:hover:after {
	content:"\A";
  width:100%;
  height:100%;
	background:rgba(246, 79, 89, 1);
  position:absolute;
	background-image:url('/images/Medium-logo_skew.png');
	background-repeat:no-repeat;
	background-size:70%;
	background-position: center;
  top:0;
  left:0;
}

.demos-main {
	display: flex;
	/* height:300px; */
	/* width:500px; */
	flex-direction: row;
	/* flex-shrink: 1 1 200px; */
	flex-wrap: wrap;
	justify-content:center;
	margin-top:10%;
}

.iframe-mirror {
	padding:10px 10px;
	margin-top:45px;
	/* margin-bottom:5%; */
}

.medium-display {
	font-family:Sarpanch;
	text-align:right;
	padding-top:1em;
}

.medium-icon {
	padding-top:7%;
}

.Page404-extend {
	height:100%;
	padding-top:5%;
	text-align:center;
	font-family:Sarpanch;
	letter-spacing:10px;
	line-height:25px;

}
.copyright-extend {
	transform: translate(1%, -350%);
	padding-bottom:2%;
	font-size:12px;
	font-family:Sarpanch;
	letter-spacing:5px;
	display:inline-block;

}

.copyright-parent {
	text-align:center;
}


/* #zoom:hover ~ #zoom {
    transform: translate3d(0px, 0px, 20px) scaleX(.7) scaleY(1);
    transform:translateX(10%);
		background-color:rgba(138, 235, 244, 0.2);
} */
