@media (max-width: 750px), (max-height: 450px) {
	.Container h3 {
		font-size: 50px;
	}
	.inner {
		transform: rotate(-90deg);
		/* position:absolute; */
		top:50%;
		left:50%;
	}
	.flex-parent {
		transform: rotate(90deg);
	}
	.about-img {
		transform: scale(.8);
	}

	.fab {
		transform: scale(.8);
	}
}
@media (max-width: 450px), (max-height: 350px) {
	.Container h3 {
		font-size: 40px;
		}

	}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.blur {
	-webkit-filter: blur(80px);
	-moz-filter: blur(80px);
	-o-filter: blur(80px);
	-ms-filter: blur(80px);
	filter: blur(80px);
}
/*
* {
	position: absolute;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
} */

.Container {
	/* width:70vw;
	height:70vh; */
}

.inner {
	display:block;
	position:absolute;
	top:50%;
	left:45%;
}

.fab {
	color:gray;
}

.fab:hover {
	color:green;
	filter:invert(100%);
}

br {
	position: relative;
}

.animate-color {
	transition: background-color 0.8s 0.1s ease-out;
}

.grayscale {
	filter: grayscale(100%);
}

input {
	user-select: all;
	-moz-user-select: all;
	-webkit-user-select: auto !important;
	-o-user-select: all;
	border: none;
	border-radius: 0px;
	padding: 0px;
	outline: none;
	-ms-user-select: all;
}

h3 {
  margin: 1.5rem 0 .25em;
  clear: both;
}
.parent {
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 10em;
  padding-bottom: 10em;
}

.about {
	/* position:absolute; */
	margin-right: 2em;
	top:40%;
	left:90%;
	transform: translate(90%, -80%);

}

.about-img {
	 width:3em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  width: 3em;
  opacity: 0;
  transition: .5s ease;
  filter:invert(100%);
}

.about:hover  {
	filter:invert(100%);
}

.footer {
	/* position:absolute; */
	padding-top: 1em;
	top:40%;
	left:50%;
	transform: translate(0%, -50%);
	z-index: 1;
}

.child {
  padding: 1rem;
  background-color: blue;
}

.child1 {
  padding: 1rem;
	background-color:rgb(231,231,231);
	/* background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 55%,rgba(160,216,239,1) 100%); */
}
.child2 {
  padding: 1rem;
  background-color:rgb(210,210,210);
}
.child3 {
  padding: 1rem;
  background-color:rgb(193,193,193);
}
.child4 {
  padding: 1rem;
  background-color:rgb(170,170,170);
}
.child5 {
  padding: 1rem;
  background-color:rgb(150,150,150);
}
.child6 {
  padding: 1rem;
  background-color:rgb(136,136,136);
}
.child7 {
  padding: 1rem;
  background-color:rgb(114,114,114);
}
.child8 {
  padding: 1rem;
  background-color:rgb(95,95,95);
}

.flex-parent {
  display: flex;
  align-items: center;
  justify-content: center;
	/* height:70vh; */
}
.flex-child {
  flex: 1;
  width: 50vw;
  height:50vh;
}

.flex-child {

    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    -webkit-transition: transform 1.05s ease-in-out;
    -moz-transition:transform 1.05s ease-in-out;
    -ms-transition:transform 1.05s ease-in-out;

    /* transition: transform 1s ease-in-out; */
    /* transition: opacity 500ms cubic-bezier(0.86, 0.7, 1.07, 1) 1000ms; */
    /* transition: opacity 500ms cubic-bezier(0.38, 0.575, 0.565, 1) 5000ms; */
    /* margin: 0 auto; */

    /* transition: width 2s; */
    /* transition-timing-function: cubic-bezier(0.86, 0.7, 0.07, 1) 900ms; */
}

.flex-child:hover {
		/* transition-timing-function: ease-out;
    transition: opacity 500ms cubic-bezier(0.38, 0.575, 0.565, 0) 5000ms;
    transform: translate3d(10px, 0px, 10px) scaleX(2) scaleY(1.1); */
		transform: scaleX(2) scaleY(1.1);
		-webkit-transition: 0.4s ease-in-out;
		-moz-transition: 0.4s ease-in-out;
		-ms-transition: 0.4s ease-in-out;
    z-index:2;
		background-color:rgba(138, 235, 244, 0.5);
		/* -webkit-transition: all .4s ease; */
}


/* #zoom:hover ~ #zoom {
    transform: translate3d(0px, 0px, 20px) scaleX(.7) scaleY(1);
    transform:translateX(10%);
		background-color:rgba(138, 235, 244, 0.2);
} */

/* .child1:hover + .child2 {
	transform:translateX(55px);
	z-index:7;
}
.child1:hover ~ .child3 {
	transform:translateX(45px);
	z-index:6;
}
.child1:hover ~ .child4 {
	transform:translateX(35px);
	z-index:5;
}
.child1:hover ~ .child5 {
	transform:translateX(25px);
	z-index:4;
}
.child1:hover ~ .child6 {
	transform:translateX(15px);
	z-index:3;
}
.child1:hover ~ .child7 {
	transform:translateX(5px);
	z-index:2;
}
.child1:hover ~ .child8 {
	transform:translateX(0px);
	z-index:1;
}
*/
/*
.child2:hover div:nth-of-type(-n+4)){
	transform:translateX(-55px);
	z-index:7;
}
.child2:hover ~ .child3 {
	transform:translateX(45px);
	z-index:6;
}
.child2:hover ~ .child4 {
	transform:translateX(35px);
	z-index:5;
}
.child2:hover ~ .child5 {
	transform:translateX(25px);
	z-index:4;
}
.child2:hover ~ .child6 {
	transform:translateX(15px);
	z-index:3;
}
.child2:hover ~ .child7 {
	transform:translateX(5px);
	z-index:2;
}
.child2:hover ~ .child8 {
	transform:translateX(0px);
	z-index:1;
} */
